<!doctype html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="@Page.Title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/themes/snowy/site.css" rel="stylesheet" />
</head>
<body itemscope itemtype="http://schema.org/Blog">

    <div class="container">

        <header class="page-header row-fluid">
            <h1 class="span7"><a href="/" itemprop="url name">@Blog.Title</a></h1>

            @if (User.Identity.IsAuthenticated)
            {
                <form action="/login/?signout=true&amp;return=@Request.RawUrl" method="post" class="span5 user">
                    <span>@User.Identity.Name</span>
                    <button type="submit" class="btn btn-small">Sign out</button>
                </form>
            }
        </header>


        <div class="row-fluid">
            <div role="main" class="span8">
                @RenderBody()
            </div>

            <aside class="span4">
                @RenderPage("_Sidebar.cshtml")
            </aside>
        </div>
    </div>

    <footer itemscope itemtype="http://schema.org/Person" itemprop="author">
        @if (!User.Identity.IsAuthenticated)
        { 
            <span class="login"><a href="/login/?return=@Request.RawUrl">Sign in</a></span>
        }

        <span>Copyright &copy; @DateTime.Now.Year
            <a href="/" rel="me" itemprop="name url">Mads Kristensen</a>
        </span>
    </footer>

</body>
</html>
