<!doctype html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="@Page.Title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/themes/snowy/site.css" rel="stylesheet" />
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <div class="container">

        <header class="page-header">
            <h1><a href="/" itemprop="url name">@Blog.Title</a></h1>
        </header>

        <div class="row-fluid">
            <div role="main" class="span8">
                @RenderBody()
            </div>

            <aside class="span4">
                @RenderPage("Sidebar.cshtml")
            </aside>
        </div>
    </div>

    <footer itemscope itemtype="http://schema.org/Person" itemprop="author">
        <span>Copyright &copy; @DateTime.Now.Year <a href="/" rel="me" itemprop="name url">Mads Kristensen</a></span>
    </footer>
</body>
</html>
