@{
    string next = Blog.GetNextPage();
    string prev = Blog.GetPrevPage();
}
<!doctype html>
<html lang="en-us">
<head prefix="og: https://ogp.me/ns#">
	<meta charset="utf-8" />
	<title>@Page.Title</title>
	<meta name="description" content="@Page.Description" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="dns-prefetch" href="https://ajax.aspnetcdn.com/" />
	<link rel="dns-prefetch" href="https://feeds.feedburner.com/" />

	<link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
	<link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="https://feeds.feedburner.com/WeblogJanV" />

	<link rel="stylesheet" href="@Blog.FingerPrint("/Content/bootstrap.css", "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")" />
	<link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/site.css")" />

	<meta property="og:type" content="article" />
	<meta property="og:title" content="@Page.Title" />
	<meta property="og:description" content="@Page.Description" />
	<meta property="og:url" content="~/@(Context.Request.Path)" />
	<meta property="og:image" content="~/Media/blog_image-512.png" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />

	<meta name="msapplication-square150x150logo" content="~/Media/blog_image-180.png" />

	<link rel="icon" type="image/png" sizes="16x16" href="~/Media/blog_image-16.png" />
	<link rel="apple-touch-icon" href="~/Media/blog_image-180.png" />
	<link rel="shortcut icon" href="~/Media/blog_image-16.png" />

	<link rel="prefetch" href="/speaking">

	@AdminCss()

	<meta name="application-name" content="@Blog.Title" />
	<meta name="msapplication-TileColor" content="#ffffff" />

	<meta property="og:title" content="@Page.Title" />
	<meta property="og:image" content="@Blog.Image" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
	@if (!string.IsNullOrEmpty(prev))
	{
		<link rel="prev" href="@prev" />
	}
	@if (!string.IsNullOrEmpty(next))
	{
		<link rel="next" href="@next" />
	}
</head>
<body itemscope itemtype="https://schema.org/WebPage" class="@(User.Identity.IsAuthenticated ? "admin": null)">
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-2661604-2', 'jan-v.nl');
		ga('send', 'pageview');

	</script>
	<div class="container">
		<header role="banner">
			<span><a href="~/" itemprop="url"><img src="~/Media/logo.png" alt="Logo Jan-V.nl" title="@Blog.Title"/></a></span><br />
			<em>@Blog.Description</em>
		</header>

		<div role="main" class="col-md-9">
			@RenderBody()

			@if (Page.ShowPaging != null)
			{
				<ul class="pager">
					@if (Blog.GetPosts().Count() > Blog.PostsPerPage * Blog.CurrentPage)
					{
						<li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
					}

					@if (Blog.CurrentPage > 1)
					{
						<li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
					}
				</ul>
			}
		</div>
		
		<aside role="complementary" class="col-md-3">
			<script>
			  (function() {
				var cx = '016464995905244916127:voml_il1bmy';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:search></gcse:search>
		    <section>
		        <h3>About me</h3>
		        <img src="/Media/portrait-site.png" alt="picture of Jan" title="Jan V" class="me" width="144" height="144"/>
		        <p>
		            My name is Jan de Vries.
		        </p>
		        <p>
		            I'm a Microsoft MVP working at <a href="https://www.4dotnet.nl/">4DotNet</a>, a Microsoft oriented consulting company in the Netherlands.
		        </p>
		        <p>
		            Most of the stuff I write over here will have some relation to the Microsoft products I'm using.
		        </p>
		    </section>
		    <section>
                <img src="/Media/MVP_Logo_Horizontal_Preferred_Cyan300_CMYK_72ppi.png" alt="Microsoft MVP Logo" title="Microsoft MVP Logo"/>
		    </section>
			<section>
				<h3>Contact me:</h3>
				<ul>
					<li><a href="https://www.linkedin.com/in/jandv">LinkedIn</a></li>
					<li><a href="https://twitter.com/Jan_de_v">Twitter</a></li>
				    <li><a href="/speaking">Speaking</a></li>
				</ul>
			</section>
            <section>
                <h3>Categories</h3>
                <ul>
                    @foreach ( var cat in Blog.GetCategories() ) {
                        <li><a href="~/category/@HttpUtility.UrlEncode(cat.Key.ToLowerInvariant())">@cat.Key (@cat.Value)</a></li>
                    }
                </ul>
            </section>			
		</aside>
	</div>

	<footer class="text-center" role="contentinfo" itemscope itemtype="https://schema.org/Person" itemprop="author">
		@if (!User.Identity.IsAuthenticated)
		{
			<span class="pull-right">
				<a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a>
			</span>
		}
		<span>
			Copyright &copy; @DateTime.Now.Year
			<a href="https://jan-v.nl" itemprop="url name">Jan-V.nl</a>
		</span>
	</footer>

	@if (User.Identity.IsAuthenticated)
	{
		@RenderPage("~/views/AdminMenu.cshtml")
	}
	
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</body>
</html>

@helper AdminCss()
{
	if (User.Identity.IsAuthenticated)
	{
        <link href="@Blog.FingerPrint("/Content/admin.css")" rel="stylesheet" />
	}
}
