@{
    string next = Blog.GetNextPage();
    string prev = Blog.GetPrevPage();
}
<!doctype html>
<html lang="en-us">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8" />
	<title>@Page.Title</title>
    <meta name="description" content="@Page.Description" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

	<link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
	@*<link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
	<link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />*@
	<link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="http://feeds.feedburner.com/WeblogJanV" />

    <link rel="stylesheet" href="@Blog.FingerPrint("/Content/bootstrap.css", "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")" />
	<link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/site.css")" />
	<link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />
	<link rel="dns-prefetch" href="http://gravatar.com/" />

	@AdminCss()

	<meta name="application-name" content="@Blog.Title" />
	<meta name="msapplication-TileColor" content="#ffffff" />

	<meta property="og:title" content="@Page.Title" />
	<meta property="og:image" content="@Blog.Image" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
	@if (!string.IsNullOrEmpty(prev))
    {
        <link rel="prev" href="@prev" />
    }
    @if (!string.IsNullOrEmpty(next))
    {
        <link rel="next" href="@next" />
    }
</head>
<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin": null)">
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-2661604-2', 'jan-v.nl');
		ga('send', 'pageview');

	</script>
	<div class="container">
		<header role="banner">
            <span><a href="~/" itemprop="url">@Blog.Title</a></span><br />
			<em>@Blog.Description</em>
		</header>

		<div role="main" class="col-md-8">
			@RenderBody()

			@if (Page.ShowPaging != null)
			{
				<ul class="pager">
					@if (Blog.GetPosts().Count() > Blog.PostsPerPage * Blog.CurrentPage)
					{
						<li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
					}

					@if (Blog.CurrentPage > 1)
					{
						<li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
					}
				</ul>
			}
		</div>
		
		<aside role="complementary" class="col-md-3 col-md-offset-1">
			<form id="searchform">
				<input id="searchInput" type="search" class="search-active" placeholder="Search">
			</form>
			<section>
				<h3>About me</h3>
				<img src="/Media/Jan_LThumb.jpg" alt="picture of me" title="Jan V" class="me" width="144" height="144"/>
				<p>
					My name is Jan de Vries.
				</p>
				<p>
					I'm working at 4DotNet, a Microsoft oriented consulting company in the Netherlands.
				</p>
				<p>
					Most of the stuff I write over here will have some relation to the Microsoft products I'm using.
				</p>
			</section>
			<section>
				<h3>Contact me:</h3>
				<ul>
					<li><a href="https://www.linkedin.com/in/jandv">LinkedIn</a></li>
					<li><a href="https://twitter.com/Jan_de_v">Twitter</a></li>
					<li><a href="http://www.vinit.nl">Vinit</a></li>
				</ul>
			</section>
            <section>
                <h3>Categories</h3>
                <ul>
                    @foreach ( var cat in Blog.GetCategories() ) {
                        <li><a href="~/category/@HttpUtility.UrlEncode(cat.Key.ToLowerInvariant())">@cat.Key (@cat.Value)</a></li>
                    }
                </ul>
            </section>			
			<form id="searchform2">
				<input id="searchInput2" type="search" class="search-active" placeholder="Search">
			</form>
			<div class="search-results"></div>
		</aside>
	</div>

	<footer class="text-center" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
		@if (!User.Identity.IsAuthenticated)
		{
			<span class="pull-right">
				<a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a>
			</span>
		}
		<span>
			Copyright &copy; @DateTime.Now.Year
			<a href="http://jan-v.nl" itemprop="url name">Jan-V.nl</a>
		</span>
	</footer>


	@*@if ((Blog.CurrentPost != null && Blog.CurrentPost.AreCommentsOpen(Context)) || Blog.IsNewPost)
	{
		<script src="@Blog.FingerPrint("/scripts/comments.js")" async defer></script>
	}*@

	@if (User.Identity.IsAuthenticated)
	{
		@RenderPage("~/views/AdminMenu.cshtml")
	}
	
	<script src="/scripts/jquery-2.1.3.js"></script>
	@*Tapirus search start *@
	<script src="/assets/js/moment.js"></script>
	<script src="/assets/js/handlebars.js"></script>
	<script src="/assets/js/jquery.tapirus.js"></script>
	@*Tapirus search end*@
	<script src="/scripts/site.js"></script>
</body>
</html>

@helper AdminCss()
{
	if (User.Identity.IsAuthenticated)
	{
        <link href="@Blog.FingerPrint("/Content/admin.css")" rel="stylesheet" />
	}
}
