<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="jumbotron">
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div>
            <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("MMMM d. yyyy")</abbr>
            <a href="@Model.Url#comments">
                <em class="glyphicon glyphicon-comment"></em>
                @Model.CountApprovedComments(Context) Comments
            </a>
            @Categories()
        </div>
    </header>    
    
    @if ((Blog.CurrentPost != null || Blog.IsNewPost) && User.Identity.IsAuthenticated)
    {
        <div id="excerpt" style="display:none;">
            <h4>Excerpt:</h4>
            <div itemprop="description">@Model.Excerpt</div>
        </div>
    }

    <div itemprop="articleBody">@Html.Raw(Blog.IsEditing ? Model.Content : Model.GetHtmlContent())</div>

    @if (Blog.CurrentPost != null)
    {
        <section id="comments" aria-label="Comments">
            @if (Model.CountApprovedComments(Context) > 0)
            {
                <h2>Comments</h2>
            }

            @foreach (Comment comment in Model.Comments)
            {
                if (comment.IsApproved || !Blog.ModerateComments || Context.User.Identity.IsAuthenticated)
                {
                    @RenderPage("Comment.cshtml", comment)
                }
            }
        </section>

        if (Model.AreCommentsOpen(Context))
        {
            @RenderPage("~/views/CommentForm.cshtml")
        }
    }
</article>

@helper Categories()
{
    if (Model.Categories.Length > 0 || User.Identity.IsAuthenticated)
    {
        <ul class="categories">
            <li><em class="glyphicon glyphicon-tags"></em>&nbsp; Posted in:&nbsp;</li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}