<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div>
            <i class="icon-calendar"></i> <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("d. MMMM yyyy")</abbr>
            <i class="icon-comment"></i> @Model.Comments.Count Comments
            @Categories()
        </div>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>

    @if (Blog.CurrentPost != null)
    {
        <section id="comments">
            @if (Model.Comments.Count > 0)
            {
                <h2>Comments</h2>
            }

            @foreach (Comment comment in Model.Comments)
            {
                @RenderPage("Comment.cshtml", comment)
            }
        </section>

        if (Model.AreCommentsOpen(Context))
        {
            @RenderPage("~/views/CommentForm.cshtml")
        }
    }
</article>

@helper Categories()
{
    if (Model.Categories.Length > 0)
    {
        <ul class="categories">
            <li><i class="icon-bookmark"></i> Posted in: </li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection" title="@cat">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}