@{
    string next = Blog.GetNextPage();
    string prev = Blog.GetPrevPage();
}
<!doctype html>
<html lang="en-us">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="description" content="@Page.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
    <link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
    <link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />

    <link rel="stylesheet" href="@Blog.FingerPrint("/Content/bootstrap.css", "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/site.css")" />
    <link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />
    <link rel="dns-prefetch" href="http://gravatar.com/" />

    @AdminCss()

    <meta name="application-name" content="@Blog.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Page.Title" />
    <meta property="og:image" content="@Blog.Image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
    @if (!string.IsNullOrEmpty(prev))
    {
        <link rel="prev" href="@prev" />
    }
    @if (!string.IsNullOrEmpty(next))
    {
        <link rel="next" href="@next" />
    }
</head>
<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin": null)">

    <div class="container">
        <header role="banner">
            <span><a href="~/" itemprop="url">@Blog.Title</a></span><br />
            <em>@Blog.Description</em>
        </header>

        <div role="main" class="col-md-8 col-md-offset-2">
            @RenderBody()

            @if (Page.ShowPaging != null)
            {
                <ul class="pager">
                    @if (Blog.GetPosts().Count() > Blog.PostsPerPage * Blog.CurrentPage)
                    {
                        <li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
                    }

                    @if (Blog.CurrentPage > 1)
                    {
                        <li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
                    }
                </ul>
            }
        </div>
    </div>

    <footer class="text-center" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
        @if (!User.Identity.IsAuthenticated)
        {
            <span class="pull-right">
                <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a>
            </span>
        }
        <span>
            Copyright &copy; @DateTime.Now.Year
            <a href="http://madskristensen.net" itemprop="url name">Mads Kristensen</a>
        </span>
    </footer>


    @if ((Blog.CurrentPost != null && Blog.CurrentPost.AreCommentsOpen(Context)) || Blog.IsNewPost)
    {
        <script src="@Blog.FingerPrint("/scripts/comments.js")" async defer></script>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderPage("~/views/AdminMenu.cshtml")
    }

</body>
</html>

@helper AdminCss()
{
    if (User.Identity.IsAuthenticated)
    {
        <link href="@Blog.FingerPrint("/Content/admin.css")" rel="stylesheet" />
    }
}
