<!doctype html>
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head prefix="og: http://ogp.me/ns#">

    <!--
        ___  ___ _         _ ______  _               
        |  \/  |(_)       (_)| ___ \| |              
        | .  . | _  _ __   _ | |_/ /| |  ___    __ _ 
        | |\/| || || '_ \ | || ___ \| | / _ \  / _` |
        | |  | || || | | || || |_/ /| || (_) || (_| |
        \_|  |_/|_||_| |_||_|\____/ |_| \___/  \__, |
                                                __/ |
                                               |___/ 
                        __                                                            _                               _      
       ____ ___  ____ _/ /_____     __  ______  __  _______   ____ _      ______     (_)___ ___  ________  __________(_)___  ____ 
      / __ `__ \/ __ `/ //_/ _ \   / / / / __ \/ / / / ___/  / __ \ | /| / / __ \   / / __ `__ \/ ___/ _ \/ ___/ ___/ / __ \/ __ \
     / / / / / / /_/ / ,< /  __/  / /_/ / /_/ / /_/ / /     / /_/ / |/ |/ / / / /  / / / / / / / /  /  __(__  |__  ) / /_/ / / / /
    /_/ /_/ /_/\__,_/_/|_|\___/   \__, /\____/\__,_/_/      \____/|__/|__/_/ /_/  /_/_/ /_/ /_/_/   \___/____/____/_/\____/_/ /_/ 
                                 /____/                                                                                          



        ..............................................................
     ___ _        _     __  ___ __      _   ___ _ ___________    __  _____     
    | |_) \_/    | |\/|/ /\| | ( (`    | |_/ |_) ( (`| | |_| |\ ( (`| |_| |\ | 
    |_|_)|_|     |_|  /_/--\_|_/)_)    |_| \_| \_|)_)|_|_|_|_| \|)_)|_|_|_| \| 

    -->

    <title>@Page.Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="@Page.Title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
    <link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
    <link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />

    <link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />
    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/styles/foundation.min.css")" />
    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/styles/site.css")" />
    <link rel="stylesheet" href="@Blog.FingerPrint("/common-assets/styles/commons.css")" />

    <meta name="application-name" content="@Blog.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Page.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.RawUrl)" />

    <script src="@Blog.FingerPrint("/themes/" + Blog.Theme + "/scripts/custom.modernizr.js")"></script>
</head>
<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin" : null)">

    <div class="container-box row">
        <div class="main-box columns large-12">
            <div class="row">
                <header class="large-5 small-5 columns large-centered small-centered center">
                    <h1 itemprop="name">
                        <a href="~/" itemprop="url">@Blog.Title</a>
                    </h1>
                    <em>By Mads Kristensen</em>
                </header>
            </div>

            <div class="row">
                <div class="large-12 columns" role="main">
                    @RenderBody()

                    @if (Page.ShowPaging != null)
                    {
                        @RenderPage("Paging.cshtml")
                    }
                </div>
            </div>
        </div>
    </div>

    <footer id="pagefooter" itemscope itemtype="http://schema.org/Person" itemprop="author">
        <section>
            @if (!User.Identity.IsAuthenticated)
            {
                <span class="login">
                    <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="icon-lock icon-white"></i></a>
                </span>            
            }
            <span>Copyright &copy; @DateTime.Now.Year
                <span itemprop="name">
                    <a href="http://madskristensen.net" itemprop="url">Mads Kristensen</a>
                </span>
            </span>
        </section>
    </footer>

    <script src="@Blog.FingerPrint("/common-assets/scripts/jquery-2.0.2.js", "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")"></script>
    <script src="@Blog.FingerPrint("/themes/" + Blog.Theme + "/scripts/foundation.min.js")" async></script>
    <script src="@Blog.FingerPrint("/themes/" + Blog.Theme + "/scripts/application.js")" async></script>
    <script src="@Blog.FingerPrint("/common-assets/scripts/commons.js")"></script>

    @if (Blog.CurrentPost != null || Blog.IsNewPost)
    {
        <script src="@Blog.FingerPrint("/common-assets/scripts/comments.js")" async></script>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderPage("/themes/" + Blog.Theme + "/AdminMenu.cshtml")
    }

</body>
</html>
