@{
    var isPublished = Blog.CurrentPost != null && Blog.CurrentPost.IsPublished;
}

<div class="contain-to-grid sticky admin-save">
    <nav id="admin" class="custom-top-bar" role="toolbar" data-role="editor-toolbar" data-ispublished="@isPublished">
        <section>
            <ul class="left">
                <li>
                    <a href="#" onclick="location.href='/post/new/'" id="btnNew">New post</a></li>
                <li>
                    <a href="#" id="btnEdit" class="disabled">Edit</a></li>
                <li>
                    <a href="#" id="btnDelete" class="disabled">Delete</a></li>
                <li>
                    <a href="#" id="btnSave" class="disabled">Save</a></li>
                <li>
                    <a href="#" id="btnCancel" class="disabled">Cancel</a></li>
                <li id="ispublished">
                    <input class="left" type="checkbox" id="chkispublished" checked="@(isPublished ? "checked" : null)" disabled />
                    <label class="left" for="chkispublished">Publish</label>
                </li>
            </ul>

            <div id="tools">

                <div class="button-group round even-3 left">
                    <a class="button secondary" data-edit="formatBlock <h1>">H1</a>
                    <a class="button secondary" data-edit="formatBlock <h2>">H2</a>
                    <a class="button secondary" data-edit="formatBlock <h3>">H3</a>
                </div>

                <div class="button-group round even-4 left">
                    <a class="button secondary" data-edit="italic"><em>I</em></a>
                    <a class="button secondary" data-edit="bold"><strong>B</strong></a>
                    <a class="button secondary" data-edit="underline"><ins>U</ins></a>
                    <a class="button secondary" data-edit="strikethrough"><s>S</s></a>
                </div>

                <div class="button-group round even-4 left">
                    <a class="button secondary" data-edit="justifyleft"><i class="icon-align-left"></i></a>
                    <a class="button secondary" data-edit="justifycenter"><i class="icon-align-center"></i></a>
                    <a class="button secondary" data-edit="justifyright"><i class="icon-align-right"></i></a>
                    <a class="button secondary" data-edit="justifyfull"><i class="icon-align-justify"></i></a>
                </div>

                <div class="button-group round even-4 left">
                    <a class="button secondary" data-edit="insertunorderedlist" title="Bullet points"><i class="icon-list"></i></a>
                    <a class="button secondary" data-edit="insertorderedlist" title="Numbered bullet points"><i class="icon-th-list"></i></a>
                    <a class="button secondary" data-edit="outdent" title="Indent left"><i class="icon-indent-left"></i></a>
                    <a class="button secondary" data-edit="indent" title="Indent right"><i class="icon-indent-right"></i></a>
                </div>

                <div class="button-group round even-3 left">
                    <a class="button secondary" data-edit="createLink" title="Hyperlink"><i class="icon-globe"></i></a>
                    <a class="button secondary" data-edit="unlink" title="Remove hyperlink"><i class="icon-remove"></i></a>
                    <a class="button secondary uploadimage"><i class="icon-picture"></i></a>
                </div>

                <input type="file" id="txtImage" data-edit="insertImage" style="width: 0; height: 0; position: absolute" />

                <div class="button-group round left">
                    <a class="button secondary source" data-cmd="source" title="Toggle source/design view"><i class="icon-eye-open"></i></a>
                </div>
            </div>
        </section>

        <form class="right" action="@FormsAuthentication.LoginUrl?signout=true&amp;ReturnUrl=@Request.RawUrl" method="post">
            <button type="submit" title="Signed in as @User.Identity.Name" class="button">Sign out <i class="icon-lock"></i></button>
        </form>

    </nav>

    <aside class="hide status">
        <p class="alert success label"></p>
    </aside>

</div>


@if (!string.IsNullOrEmpty(Blog.CurrentSlug))
{
    <script src="@Blog.FingerPrint("/common-assets/scripts/bootstrap-wysiwyg.js")" async></script>
    <script src="@Blog.FingerPrint("/common-assets/scripts/admin.js")" async></script>
}