<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <p>
            <i class="icon-calendar"></i> <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("d. MMMM yyyy")</abbr>
            <i class="icon-comment"></i> @Model.Comments.Count Comments
        </p>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>

    @if (Page.ShowComments)
    {
        <section id="comments">
            <h2>Comments</h2>

            @if (Model.Comments.Count == 0)
            {
                <p>Be the first to post a comment</p>
            }

            @foreach (Comment comment in Model.Comments)
            {
                <article data-id="@comment.ID" itemscope itemtype="http://schema.org/UserComments" itemprop="comment">
                    <img src="@comment.GravatarUrl(50)" alt="@comment.Author" />
                    <div>
                        <time datetime="@comment.PubDate.ToString("yyyy-dd-MMTHH:mm")" itemprop="commentTime">@comment.PubDate.ToString("d. MMMM yyyy HH:mm")</time>
                        <p itemprop="commentText">@Html.Raw(comment.Content)</p>
                        <strong itemprop="creator">@comment.Author</strong>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="deletecomment btn btn-link">Delete</button>
                        }
                    </div>
                </article>
            }
        </section>
        
        @RenderPage("~/commentform.cshtml")
    }
</article>
