@{
    var isPublished = Blog.CurrentPost != null && Blog.CurrentPost.IsPublished;
    var path = !string.IsNullOrWhiteSpace( Blog.BlogPath ) ? "/" + Blog.BlogPath : "";
}

<nav id="admin" data-role="editor-toolbar" class="navbar navbar-default navbar-fixed-top" data-ispublished="@isPublished" data-blog-path="@path">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li><button onclick="location.href='@path/post/new/'" class="btn btn-link" id="btnNew">New post</button></li>
            <li><button onclick="location.href='@path/post/@Blog.CurrentSlug?mode=edit'" class="btn btn-link" id="btnEdit" disabled>Edit</button></li>
            <li><button class="btn btn-link" id="btnDelete" disabled>Delete</button></li>
            <li><button class="btn btn-link" id="btnSave" disabled>Save</button></li>
            <li><button class="btn btn-link" id="btnCancel" disabled>Cancel</button></li>
            <li id="ispublished">
                <input type="checkbox" id="chkispublished" checked="@(isPublished ? "checked" : null)" disabled />
                <label for="chkispublished">Publish</label>
            </li>
        </ul>

        <div id="tools">

            <div class="btn-group">
                <a class="btn btn-mini" data-edit="formatBlock <p>">&para;</a>
                <a class="btn btn-mini" data-edit="formatBlock <h1>">H1</a>
                <a class="btn btn-mini" data-edit="formatBlock <h2>">H2</a>
                <a class="btn btn-mini" data-edit="formatBlock <h3>">H3</a>
            </div>

            <div class="btn-group">
                <a class="btn btn-mini" data-edit="italic"><em>I</em></a>
                <a class="btn btn-mini" data-edit="bold"><strong>B</strong></a>
                <a class="btn btn-mini" data-edit="underline"><ins>U</ins></a>
                <a class="btn btn-mini" data-edit="strikethrough"><s>S</s></a>
            </div>

            <div class="btn-group">
                <a class="btn btn-mini" data-edit="justifyleft" title="Justify left"><i class="glyphicon glyphicon-align-left"></i></a>
                <a class="btn btn-mini" data-edit="justifycenter" title="Justify center"><i class="glyphicon glyphicon-align-center"></i></a>
                <a class="btn btn-mini" data-edit="justifyright" title="Justify right"><i class="glyphicon glyphicon-align-right"></i></a>
                <a class="btn btn-mini" data-edit="justifyfull" title="Justify full"><i class="glyphicon glyphicon-align-justify"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn btn-mini" data-edit="insertunorderedlist" title="Bullet points"><i class="glyphicon glyphicon-list"></i></a>
                <a class="btn btn-mini" data-edit="insertorderedlist" title="Numbered bullet points"><i class="glyphicon glyphicon-th-list"></i></a>
                <a class="btn btn-mini" data-edit="outdent" title="Indent left"><i class="glyphicon glyphicon-indent-left"></i></a>
                <a class="btn btn-mini" data-edit="indent" title="Indent right"><i class="glyphicon glyphicon-indent-right"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn btn-mini" data-edit="createLink" title="Hyperlink"><i class="glyphicon glyphicon-globe"></i></a>
                <a class="btn btn-mini" data-edit="unlink" title="Remove hyperlink"><i class="glyphicon glyphicon-remove"></i></a>
                <a class="btn btn-mini uploadimage"><i class="glyphicon glyphicon-picture"></i></a>
            </div>

            <input type="file" id="txtImage" data-edit="insertImage" style="width:0; height: 0;position:absolute" />

            <div class="btn-group">
                <a class="btn btn-mini source" data-cmd="source" title="Toggle source/design view"><i class="glyphicon glyphicon-eye-open"></i></a>
            </div>
        </div>
    </div>

    <form action="@FormsAuthentication.LoginUrl" method="post">
        <input type="hidden" name="signout" value="true" />
        <input type="hidden" name="returnUrl" value="@HttpUtility.HtmlEncode(Request.RawUrl)" />
        <button type="submit" title="Signed in as @User.Identity.Name" class="btn btn-link pull-right">
            Sign out &nbsp;<span class="glyphicon glyphicon-log-out"></span>
        </button>
    </form>

    <aside>
        <p class="alert"></p>
    </aside>
</nav>

@if (!string.IsNullOrEmpty(Blog.CurrentSlug))
{
    <script src="@Blog.FingerPrint("/scripts/jquery-2.0.2.js", "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")"></script>
    <script src="@Blog.FingerPrint("/scripts/bootstrap-wysiwyg.js")" defer></script>
    <script src="@Blog.FingerPrint("/scripts/admin.js")" defer></script>
}
